# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
dist/
build/
*.egg

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/
profiles.yml

# Airflow
airflow/logs/
airflow/plugins/__pycache__/

# Environment files — NEVER commit secrets
.env
*.env
secrets/

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfvars

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/settings.json
